/* */

/* Diagnostic Styling 
* Change Background color
* Outline Elements */

* {
    outline: 1px dotted;
}

video {
    border: 1px solid blue;
    object-fit: cover;
/* Kludge */
width: 100px;
height: 100px;

}